rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Cho phép đọc/ghi vào document users/{userId}
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Cho phép đọc/ghi vào tất cả documents trong subcollection cart
      match /cart/{cartId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      // Cho phép đọc/ghi vào tất cả documents trong subcollection orders
      match /orders/{orderId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
    match /carts/{cartId} {
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
} 